.container-table100 {
  width: 100%;
  min-height: 89vh;
  background: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}
  .wrap-table100 {
    width: 1200px;
  }

  .table100 {
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 0 0 1px; */
  }

  .table-header, .entries {
    padding: 10px 10px;
  }

  .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 10px;
  }

  .btnAdd {
    text-align: right;
  }

  button a.addmember {
    text-decoration: none;
  }

  .addButton{
    background-color: #4BB150;
    /* background-color: #221f54; */
    border-radius: 4px;
    border: none;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
  }

  .addButton a span{
    color: white;
  }

  .addButton a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .addButton a span:after {
    content: '\002B';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .addButton:hover {
    background: #3e9142;
    /* background: #09072e; */
  }
  
  .addButton:hover a span {
    padding-right: 13px;
  }
  
  .addButton:hover span:after {
    opacity: 1;
    right: 0;
  }

  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }
  table * {
    position: relative;
  }
  table td, table th {
    padding-left: 8px;
  }
  table thead tr {
    height: 60px;
    background: #4BB150;
  }
  table tbody tr {
    height: 50px;
  }
  table tbody tr:last-child {
    border: 0;
  }
  table td, table th {
    text-align: left;
  }
  table td.l, table th.l {
    text-align: right;
  }
  table td.c, table th.c {
    text-align: center;
  }
  table td.r, table th.r {
    text-align: center;
  }
  
  
  .table100-head th{
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .column1 {
    width: 100px;
    padding-left: 40px;
  }
  
  .column2 {
    width: 200px;
    text-align: center;
  }
  
  .column3 {
    width: 300px;
    text-align: center;
  }
  
  .column4 {
    width: 110px;
    text-align: center;
  }
  
  .column5 {
    width: 200px;
    text-align: center;
  }
  
  .column6 {
    width: 150px;
    text-align: center;
  }

  .column7 {
    width: 100px;
    text-align: center;
  }

  .column8 {
    width: 500px;
    text-align: center;
  }

  .column9 {
    width: 100px;
    text-align: right;
    padding-right: 40px;
  }

  .fas.fa-check {
    color: green;
  }

  .fas.fa-minus-circle {
    color: red;
  }

  .edit {
    text-decoration: none;
    color: #10913b;
  }

  .delete {
    text-decoration: none;
    color: red;
  }

  /* add */
  h2.add {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    padding: 10px 30px 30px 30px;
  }

  .wrap-container {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
  }

  input, textarea, section, select{
    border-style: hidden;
    background-color: #f2f2f2;
  }

  label.username {
    margin-right: 48px;
  }

  label.password {
    margin-right: 40px;
  }

  label.conpass {
    margin-right: 2px;
  }

  label.title {
    margin-right: 32px;
  }

  label.firstname {
    margin-right: 76px;
  }

  label.surname {
    margin-right: 39px;
  }

  label.position {
    margin-right: 40px;
  }

  label.phone {
    margin-right: 4px;
  }

  label.email {
    margin-right: 51px;
  }

  label.status {
    margin-right: 31px;
  }

  label.active {
    margin-right: 51px;
  }

  .container-1-box {
    flex-wrap: nowrap;
    padding-bottom: 20px;
  }

  .container-1-box select{
    width: 410px;
    height: 30px;
  }

  .container-1-box .long{
    width: 410px;
    height: 30px;
  }

  .container-2-box {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 510px;
    padding-left: 99px;
  }

  .btn-save {
    background: #221f54;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    width: 150px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
  }

  .btn-save:hover {
    background: #03003f;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    width: 150px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
  }

  .btn-cancel {
    background: #ec1c24;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    width: 150px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
  }

  .btn-cancel:hover {
    background: #ff0008;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    width: 150px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
  }

   
.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
}

.pagination a.active { 
color: white;
border-radius: 5px;
}

.pagination a:hover:not(.active) {
background-color: #ddd;
border-radius: 5px;
}

.form-control.form-control-sm {
  padding: 2px 0 2px 5px;
  border: black solid 1px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.btn-danger {
  color: #fff;
  background-color: #4BB150;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}


@media all and (max-width: 600px) {

  .addButton a span:after {
    content: none;
    position: none;
    opacity: 0;
    top: 0;
    right: 0;
    transition: 0.5s;
  }

  .table-header {
    text-align: center;
  }

  .container-table100 {
    width: none;
    min-height: none;
    background: white;
    display: contents;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }
  .wrap-table100 {
    width: auto;
  
  }
  
  .table100 {
    background-color: white;
    border-radius: 10px;
  }
  
  .table-header, .entries {
    padding: 10px 10px;
  }
  
  .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 10px;
  }
  
  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }
  table * {
    position: relative;
  }
  table td, table th {
    padding-left: 8px;
  }
  table thead tr {
    height: 60px;
    background: #4BB150;
  }
  table tbody tr {
    height: 50px;
  }
  table tbody tr:last-child {
    border: 0;
  }
  table td, table th {
    text-align: left;
  }
  table td.l, table th.l {
    text-align: right;
  }
  table td.c, table th.c {
    text-align: center;
  }
  table td.r, table th.r {
    text-align: center;
  }
  
  .table100-head th{
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .column1 {
    width: 50px;
    padding-left: 40px;
  }
  
  .column2 {
    width: 150px;
    text-align: center;
  }
  
  .column3 {
    width: 200px;
    text-align: center;
  }
  
  .column4 {
    width: 130px;
    padding-right: 10px;
    text-align: center;
  }
  
  .column5 {
    width: 130px;
    text-align: center;
  }
  
  .column6 {
    width: 100px;
    text-align: center;
  }
  
  .column7 {
    width: 50px;
    text-align: right;
    padding-right: 40px;
  }
  
  .approve ,.green{
    text-decoration: none;
    color: green;
  }
  
  .disapprove ,.red{
    text-decoration: none;
    color: red;
  }
  
  .wait {
    color: black;
  }
  
  .edit {
    color: #10913b;
  }
  
  /* Pagination */
  
  .pagination {
    display: flex;
    justify-content: space-between;
  }
  
  .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  }
  
  .pagination a.active { 
  color: white;
  border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
  }
  
  /* edit booking */
  
  body h3.edit {
    color: black;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  padding: 10px 30px 30px 30px;
  }
  
  .wrap-container {
  width: 600px; 
  padding: 10px;
  border-radius: 10px; 
  }
  
  label.number{
  margin-right: 3px;
  }
  
  label.name{
  margin-right: 37px;
  }
  
  label.department{
  margin-right: 58px;
  }
  
  label.topic{
  margin-right: 16px;
  }
  
  /* .amount{
  margin-right: 24px;
  } */
  
  label.date{
  margin-right: 24px;
  }
  
  label.starttime{
  /* margin-right: 23px; */
  margin-right: 22px;
  }
  
  label.hour{
  margin-right: 8px;
  }
  
  label.other{
  margin-right: 68px;
  }
  
  input, textarea, section, select{
  /* border-radius: 3px; */
  border-style: hidden;
  background-color: #f2f2f2;
  }
  
  .container-1-box {
  flex-wrap: nowrap;
  padding-bottom: 20px;
  }
  
  .container-1-box select{
  width: 200px;
  height: 30px;
  }
  
  .container-1-box .long{
  width: 200px;
  height: 30px;
  }
  
  .container-1-box .number{
  width: 410px;
  height: 30px;
  }
  
  .container-1-box .date, .starttime{
  width: 409px;
  height: 30px;
  }
  
  .container-1-box textarea{
  width: 410px;
  height: 100px;
  }
  
  .container-2-box {
  padding-bottom: 10px;
  display: flex;
  width: 300px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  }
  
  .btn-save {
  background: #221f54;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  width: 100px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 20px;
  }
  
  .btn-save:hover {
  background: #03003f;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  width: 100px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  }
  
  .btn-cancel {
  background: #ec1c24;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  width: 100px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 20px;
  }
  
  .btn-cancel:hover {
  background: #ff0008;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  width: 100px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  }
  
   
  
  .form-control.form-control-sm {
  padding: 2px 0 2px 5px;
  border: black solid 1px;
  }
  
  #btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  }
  
  .btn-danger {
  color: #fff;
  background-color: #4BB150;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  }
}

@media all and (max-width: 400px) { 

  .addButton a span:after {
    content: none;
    position: none;
    opacity: 0;
    top: 0;
    right: 0;
    transition: 0.5s;
  }

  .table-header {
    text-align: center;
  }

  .container-1-box select{
    width: 290px;
    height: 30px;
    }
    
    .container-1-box .long{
    width: 290px;
    height: 30px;
    }
    
    .container-1-box .number{
    width: 290px;
    height: 30px;
    }
    
    .container-1-box .date, .starttime{
    width: 290px;
    height: 30px;
    }
    
    .container-1-box textarea{
    width: 290px;
    height: 100px;
    }
    
}
